html {
  font-family: 'Source Sans Pro', serif;
  font-size: 13px;
  line-height: 1.2;

  @media (min-width: $desktop-min) {
    font-size: 18px;
  }

}
body {
  color: #333;
  background: #fff;
}
p {
  font-size: 24px;
  margin: 0 0 0.3rem 0;
}
h1,h2 {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 2.4rem;
  line-height: 1;
  padding: 0 0 1rem; 
  margin: 0; 

  @media screen and (min-width: $tablet-min) {
    font-size: 3rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    border-bottom: 1px $blue solid;
  }
}